services:
  db:
    image: postgres:15-alpine
    container_name: ad-integration-db
    env_file:
      - .env
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/ddata
    networks: 
      - backend-network

  backend:
    build: .
    container_name: ad-integration-backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - backend-network


networks:
  backend-network:
    driver: bridge

volumes:
  postgres_data: